.button-primary-container {
    width: 68%;
}
.button-secondary-container {
    width: 30%;
}

.button-primary, .button-secondary {
    color: $text-color;
    outline: none;
    border: none;
    width: 100%;
    height: 60px;
    font-weight: bold;
    cursor: pointer;
}

.button-primary {
    background-color: $button-primary;
    font-size: 1.5rem;
}

.button-secondary {
    background-color: $button-secondary;
    font-size: 0.9rem;
}