/*
  * TYPE COLOR
*/

/*
  * BACKGROUND
*/
$primary-color: #254E82;
$second-color: #1B3C67;
$third-color: #18365D;

/*
  * BUTTON
*/
$button-primary: #4FAA8D;
$button-secondary: #28548B;

/*
  * TEXT
*/

$text-color: #FFFFFF;