@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "./color.scss";
@import "./layout.scss";
@import "./item.scss";
@import "./value.scss";
@import "./qouta.scss";
@import "./creditSimutor.scss";
@import "./result.scss";
@import "./button.scss";

body {
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
}

@media (max-width: 600px) {
    .layout-box {
      padding: 45px 45px 35px 45px;
    }
    .item-title-p {
        font-size: 0.9rem;
    }
    .value-container {
        width: 50%;
    }
    .qouta-content {
        width: 90%;
    }
    .result-container {
        width: 90%;
    }
    .qouta-title-p {
        font-size: 0.7rem;
    }
    .qouta-price-h1 {
        font-size: 1.2rem;
    }
    .button-primary {
        font-size: 1rem;
    }
    .button-secondary {
        font-size: 0.7rem;
    }
  }