.layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 98vh;
}

.layout-box {
    width: 634px;
    height: 611px;
    margin: auto;
    padding: 75px 75px 35px 75px;
    background-color: $primary-color;
}

.layout-resume {
    background-color: $second-color;
    height: inherit;
}

.layout-title {
    padding-top: 40px;
    margin: 0;
    text-align: center;
}

.layout-content {
    padding-top: 55px;
}

.layoutslider-range {
    width: 85%;
    padding-top: 20px;
    padding-bottom: 8px;
    margin: auto;
}

.layoutslider-range-value {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.layoutslider-range-value-p {
    margin: 0;
}
.content-container {
    margin-bottom: 40px;
}
.slider {
    cursor: pointer;
}