.qouta-container {
   width: 100%;
   background-color: $third-color;
}

.qouta-content {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 67px;
    align-items: center;
    margin: auto;
}
.qouta-title-p {
    font-weight: bold;
}
.qouta-price-h1 {
    margin: 0;
}