.value-container {
   border: 1px solid $text-color;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 138px;
   height: 37px;
}
.value-container-h2 {
   margin: 0;
   font-size: 1.28em;
}
.input-value {
   text-align: center;
   width: 90%;
   font-size: 1.3rem;
   background: transparent;
   outline: none;
   border-color: transparent;
   color: #ffffff;
   font-weight: 600;
}